<!DOCTYPE html>
<html data-ng-app="numberApp" data-ng-controller="numberController">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Numbrikas</title>

		<link href="style.css" rel="stylesheet" type="text/css">
	</head>
	<body data-ng-cloak>
		<div class="menu fixed-center">
			<!-- <button data-ng-click="save(); showTextArea = true">Export</button> -->
			<!-- <button data-ng-hide="showTextArea" data-ng-click="showTextArea = true">Import</button> -->

			<!-- <div class="inline" data-ng-show="showTextArea">
				<textarea data-ng-model="json"></textarea>
				<button class="smaller" data-ng-click="parse()">Load</button>
				<button class="smaller" data-ng-click="showTextArea = false;">Cancel</button>
			</div> -->

			<button data-ng-click="undo()" data-ng-disable="history.length == 0">Undo</button>
			<button data-ng-click="expand()">Expand</button>
			<button data-ng-click="restart()">Restart</button>
		</div>

		<div class="helper fixed-center" data-ng-show="helperNeeded">
			<div class="align-center">
				<table>
					<tr>
						<td data-ng-repeat="cell in helperNums track by $index">{{ cell }}</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="main-wrapper align-center">
			<table class="main-row">
				<thead>
					<tr>
						<td colspan="9">Clear board by finding <a href="guide.html" target="_blank">pairs</a></td>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="row in table track by $index"
						data-ng-hide="rowBlank[$index]">
						<td data-ng-repeat="cell in row.data track by $index"
							data-ng-mouseup="select($event, cell, table, rowBlank);"
							data-ng-class="{selected: cell.selected}">
							<div class="cellValue">{{ cell.val }}</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<script src="lib/fastclick.js"></script>
		<script src="lib/jquery-3.2.1.slim.min.js"></script>
		<script src="lib/angular.js"></script>
		<script src="lib/angular-local-storage.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/expandService.js"></script>
		<script src="js/helperService.js"></script>
		<script src="js/historyProvider.js"></script>
		<script src="js/loadSaveProvider.js"></script>
		<script src="js/autoSaveProvider.js"></script>
		<script src="js/pairCheckService.js"></script>
	</body>
</html>
