@CHARSET "UTF-8";

[data-ng-cloak] {
    display: none !important;
}

body {
	font-size: 2em;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	display: inline-block;
}

table thead th {
	/* 	border-right: 1px solid #777; */
}

th,td {
	border: 1px solid #777;
	/* 	border-bottom: 0; */
	/* 	border-right: 0; */
	text-align: center;
	width: 2em;
	height: 2em;
	cursor: pointer;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
}

td.index {
	font-size: 0.6em;
	/* 	border-right: 0; */
}

td:nth-child(4),td:nth-child(7) {
	border-left: 3px solid #777;
}

button {
	vertical-align: bottom;
}

.small {
	border-top: 1px dashed #AAA;
	font-size: 0.5em;
	display: none;
}

.selected {
	background-color: #BBB;
}

input,button {
	background-color: #FFFFFF;
	border: 1px solid #0000FF;
	border-radius: 5px;
	color: #00008B;
	padding: 0.5em 1em;
	display: block;
	margin: 0.5em;
}

input[disabled], button[disabled] {
	color: #99f;
}

button {
	cursor: pointer;
	display: inline-block;
}

.menu {
	background-color: rgba(255, 255, 255, 0.6);
	bottom: 0;
	vertical-align: bottom;
}

.menu button.smaller {
	display: inline-block;
	margin: 0.5em 0;
	padding: 0.5em 0.3em;
	width: auto;
}

.main-wrapper {
	display: block;
	padding-bottom: 2em;
	text-align: center;
}

.main-wrapper>div {
	display: inline-block;
}

.helper {
	background-color: rgba(255, 255, 255, 0.9);
	height: 42px;
	top: 0;
}

.helper table {
	background-color: #f2f2f2;
	margin: 11px 0;
}

.helper td {
	height: 1em;
}

.fixed-center {
	position: fixed;
	text-align: center;
	width: 100%;
}

.inline {
	display: inline-block;
}
